{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

{% set sousTotal = 0 %}
<a href="{{path('myorder')}}">
<i class="fas fa-arrow-alt-circle-left fa-3x" style="color:#F670C9;"></i></a>
<div class="content-wrapper" style="margin:10%;padding:5%;">
    <div class="container-fluid">
    <h3>Commande {{ order.id }}</h3><br>
     <div class='col-md-12 text-right mt-3 mb-4'>
                        <p>Commande passé le {{ order.date|date('d/m/Y')}}</p>
                        <p>Status de la commande : {{order.status}}</p>
                
                    </div>
        <div class="row">
  
                    <div class='col-md-6'>
                        <h4> Adresse de facturation :</h4><br>
                        <h5>{{ order.LastName }} {{ order.firstName }}</h5>
                        {# <p>{{ order.email }} <br> #}
                        {{ order.number }}<br>
                        {{ order.adress }} <br>
                        {{ order.zipcode }} {{ order.city }}

                        </p>
                       
                    </div>
                    <div class='col-md-6'>
        
                    <h4> Adresse du restaurant:</h4> 
                    {{ order.restaurant }} <br>
                    {{ order.restaurant.adress }}<br>
                    {{ order.restaurant.city}} -
                   <br>{{ order.restaurant.phone}} </div>
                    </div>
                   <br>
                    <h5>Frais de livraison</h5>
                    <br>
               
                    <p>{{ order.shipping }} €</p>
               
                    </div>
                </div>
                
                <div class='row mt-5'>
                
                    <div class='col-md-8'>
                        <h3>Articles :</h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>
                        <h5>Reference</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Nom</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Quantité</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Prix</h5>
                    </div>
                </div>
                {% for article in articles %}
                <div class='row mt-3'>
                 <div class='col-md-3'>
                        <p>{{ article.product.id }}</p>
                    </div>
                 <div class='col-md-3'>
                        <p>{{ article.product.name }}<br> <img src=""  alt="" style="height:100px;"></p>
                    </div>
                        <div class='col-md-3'>
                        <p>{{ article.quantity}}</p>
                    </div>
                    <div class='col-md-3'>
                        <p>{{ article.priceUnit }}</p>
                    </div>
                    
                
                  
                </div>
               
                <div class='row dropdown-divider'></div>
                {% set articleTotal = article.priceUnit * article.quantity %}
                {% set sousTotal = sousTotal + articleTotal %}
                {% endfor %}
                <div class='row mt-5'>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-10"><h5>Sous-total :</h5></div>
                            <div class="col-md-2"><p>{{sousTotal|number_format(2)}} €</p></div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-10"><h5>Expédition :</h5></div>
                            <div class="col-md-2">{{ order.shipping|number_format(2) }} €  </div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-9"></div>
                            <div class="col-md-3"><div class='row dropdown-divider'></div></div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right mt-3 mb-4'>
                        <div class='row'>
                            <div class="col-md-10"><h4>TOTAL : </h4></div>
                            <div class="col-md-2"><p> {{ order.shipping + sousTotal|number_format(2) }} €</p></div>
                        </div>
                    </div>
                 
                   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
