{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<main>
      <!-- Hero Area Start-->
      <div class="slider-area ">
          <div class="single-slider slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap text-center">
                              <h2>Panier</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--================panier Area =================-->
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
             {% for panieritem in panier %}
                  <tr data-cart="{{ panieritem.id }}">
                    <td>
                      <div class="media">
                        <div class="d-flex">
                          <img src="{{asset('image/'~panieritem.product.picture)}}" alt="">
                          </div>
                        <div class="media-body">
                          <p> {{panieritem.product.name}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h5>{{ panieritem.product.price }} €</h5>
                    </td>
                    <td>
                      <div class="product_count d-flex">
                      <input class="input-number text-center" data-product="{{ panieritem.product.id }}" type="text" value="{{panieritem.quantity}}">
                      <div class="crements-div h-100 text-center border">
                      <a href="{{path('panier_add',{'id': panieritem.product.id})}}" style="font-size:1.2em;">+</a><br>
                      <a href="{{path('product_suppression',{'id': panieritem.product.id})}}" style="font-size:1.2em;">-</a>

                      </div>
                      </div>

                    </td>
                    <td>
                      <h5 class="subtotal">{{ panieritem.product.price * panieritem.quantity }} €</h5>
                    </td>
                    <td>
                      <a href="{{path('suppression_product',{'id' : panieritem.product.id} )}}" class="btn">Supprimer</button>
                    </td>
                   {{panieritem.product.relationRestaurant}}
                  </tr>
                 {% endfor %}
                  <tr class="bottom_button">
                    <td>
                      <a class="btn" href="{{path('panier')}}">Rafraîchir</a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="cupon_text float-right">
                        <a class="btn" href="{{path('suppression')}}">Supprimer le panier</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>

                    <td>
                      <h5>Sous-total </h5>
                    </td>
                    <td>
                    <h5 class="total">{{total}} €</h5>

                    </td>
                    <td></td>
                  </tr>

                </tbody>
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn" href="{{path('main')}}">Continuer vos achats</a>
                <a class="btn" href="{{path('order')}}">Commander</a>
              </div>
            </div>
          </div>
      </section>
      <!--================End panier Area =================-->
  </main>
{% endblock %}
