{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

        <div class="d-flex flex-raw justify-content-center mt-5 w-50">
        <a href="{{path('app_login')}}"><img src="/img/arrow-left-circle-fill.svg" alt="un triangle aux trois côtÊs Êgaux" height="50px" width="50px"/></a>
    </div>
    <div class="d-flex flex-column align-items-center mt-3 w-100">
            <div class="d-flex flex-column align-items-center">
                <img class="mb-4" src="/img/logoprojet.png" alt="" width="150" height="150">
            </div>
            <div class="d-flex flex-column align-items-center w-50">
            <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            <div class="w-50">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control w-100 mb-2','placeholder': 'Veuillez saisir votre Email'}}) }}
                {{ form_row(registrationForm.plainPassword) }}
                <div class="d-flex flex-direction justify-content-around w-100 mb-2">
                    {{ form_row(registrationForm.roles) }}
                </div>
                {{ form_row(registrationForm.agreeTerms) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
            {{ form_end(registrationForm) }}
                </div>
            </div>
    </div>
{% endblock %}
