{% extends 'base.html.twig' %}
{% block title %} {{ product.name }} {% endblock %}
{% block body %}
 <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>{{ product.name }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->

        <div class="product_image_area">
            <div class="container">
            <div class="row justify-content-center">
                
                    <div class="single_product_img">
                <img src="{{asset('image/'~product.picture)}}" alt="">
                </div>
                </div>
               
                <div class="single_product_text text-center">
                    <h3>{{ product.name }}</h3>
                    <p>
                        {{ product.description}}
                   </p>
              
                   <p>{{ product.price}} €</p>
                    <div class="card_area">

                        <div class="product_count_area">
                            <p>Quantité</p>
                            
                             <div class="product_count d-flex">
                      <input class="input-number text-center" type="number" value="1">
                    
                      </div>
                         
                        </div>
                
                        <a href="{{path('panier_add',{'id': product.id})}}"  class="btn">Ajouter au panier</button> </a>
              
                  <div class="d-block p-2 font-weight-bold"></div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>


    </main>
    {% endblock %}