{% extends 'baseRestaurant.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
   
    {% set sousTotal = 0 %}

<div class="content-wrapper">
    <div class="container-fluid">
    <h3>Commande {{ order.id }}</h3><br>
     <div class='col-md-12 text-right mt-3 mb-4'>
                         <p>Commande passé le {{ order.date ? order.date|date('Y-m-d') : '' }}
               livraison souhaité pour {{ order.time ? order.time|date('H:i:s') : '' }}</p> 
    </div>
        <div class="row">
  
                    <div class='col-md-6'>
                        <h4> Adresse de Livraison :</h4><br>
                        <h5>{{ order.LastName }} {{ order.firstName }}</h5>
                        {# <p>{{ order.email }} <br> #}
                        {{ order.number }}<br>
                        {{ order.adress }} <br>
                        {{ order.zipcode }} {{ order.city }}

                        </p>
                       
                    </div>
                       <div class='col-md-6'>
        
                    <h4> Adresse du restaurant:</h4> 
                    {{ order.restaurant }} <br>
                    {{ order.restaurant.adress }}<br>
                    {{ order.restaurant.city}} -
                   <br>{{ order.restaurant.phone}} </div>
                    </div>
                </div>
                <div class='row mt-5'>
                    <div class='col-md-12'>
                        <h3>Articles :</h3>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>
                        <h5>id</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Nom</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Quantité</h5>
                    </div>
                    <div class='col-md-3'>
                        <h5>Prix</h5>
                    </div>
                </div>
                {% for article in articles %}
                <div class='row mt-3'>
                 <div class='col-md-3'>
                        <p>{{ article.product.id }}</p>
                    </div>
                 <div class='col-md-3'>
                        <p>{{ article.product.name }}</p>
                    </div>
                        <div class='col-md-3'>
                        <p>{{ article.quantity}}</p>
                    </div>
                    <div class='col-md-3'>
                        <p>{{ article.priceUnit }}</p>
                    </div>
                    
                
                  
                </div>
                <div class='row dropdown-divider'></div>
                {% set articleTotal = article.priceUnit * article.quantity %}
                {% set sousTotal = sousTotal + articleTotal %}
                {% endfor %}
                <div class='row mt-5'>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-10"><h5>Sous-total :</h5></div>
                            <div class="col-md-2"><p>{{sousTotal|number_format(2)}} €</p></div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-10"><h5>Expédition :</h5></div>
                            <div class="col-md-2">{{ order.shipping|number_format(2) }}   </div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right'>
                        <div class='row'>
                            <div class="col-md-9"></div>
                            <div class="col-md-3"><div class='row dropdown-divider'></div></div>
                        </div>
                    </div>
                    <div class='col-md-12 text-right mt-3 mb-4'>
                        <div class='row'>
                            <div class="col-md-10"><h4>TOTAL : </h4></div>
                            <div class="col-md-2"><p> {{ order.shipping + sousTotal|number_format(2) }} €</p></div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                    {% if  order.livreur  == null %}

                    {% else  %}
                     <p>pris en charge par le livreur : {{ order.livreur.email }} </p>
                     {% endif %}
                        <p>Status de la commande : {{order.status}}</p>
                        <label class='mt-5'>Changer le status</label>
                        <form method='post' action='{{path('order_status_update')}}'>
                        <input type="hidden" name="orderId" value="{{ order.id }}">
                        <select class='form-control' name='statusId'>
                        <option value="accepte" >commande acceptée</option>
                           <option value="prete" >prête</option>

                        </select>
                        <button id='update_status' class='btn btn-outline-white btn-white mt-5'>Changer</button>
                        </form>
                        
                      
                    </div>
                   
                </div>
            </div>
        </div>
        <a href="{{ path('order_crud_index') }}">back to list</a>

    <a href="{{ path('order_crud_edit', {'id': order.id}) }}">edit</a>

    {{ include('order_crud/_delete_form.html.twig') }} 
    </div>
</div>
{% endblock %}
