{% extends 'base.html.twig' %}

{% block title %}Delivery index{% endblock %}

{% block body %}
    <h1>Delivery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Adress</th>
                <th>City</th>
                <th>TotalPrice</th>
                <th>ShippingCost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.date ? delivery.date|date('Y-m-d') : '' }}</td>
                <td>{{ delivery.time ? delivery.time|date('H:i:s') : '' }}</td>
                <td>{{ delivery.adress }}</td>
                <td>{{ delivery.city }}</td>
                <td>{{ delivery.totalPrice }}</td>
                <td>{{ delivery.shippingCost }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}">show</a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('delivery_new') }}">Create new</a>
{% endblock %}
