{% extends 'baseLivreur.html.twig' %}

{% block title %}Hello LivreurController!{% endblock %}

{% block body %}

<h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Adress</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Status</th>
                <th>Total</th>
                <th>Shipping</th>
                <th>Date</th>
                <th>Time</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.firstName }}</td>
                <td>{{ order.LastName }}</td>
                <td>{{ order.adress }}</td>
                <td>{{ order.zipcode }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.shipping }}</td>
                <td>{{ order.date ? order.date|date('Y-m-d') : '' }}</td>
                <td>{{ order.time ? order.time|date('H:i:s') : '' }}</td>
                <td>{{ order.number }}</td>
                <td>
                    <a href="{{ path('order_crud_show', {'id': order.id}) }}">Voir</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
