    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky pl-1">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="{{ path('main') }}"><img src="{{asset('img/logoprojet2.png')}}" alt="" style="width: 350px;"></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">      
                                    <li><a href="{{ path('main') }}">Acceuil</a></li>
                                    <li><a href="#">Categories </a>
                                        <ul class="submenu">
                                            <li>
                                                {% for restaurant_type in restaurant_types %}
                                                    <a href="">{{ restaurant_type.name }}</a> 
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="">Panier</a>
                                       
                                    </li>
                                    {% if is_granted('ROLE_RESTAURATEUR') %}
                                        <li><a href="{{ path('restaurant_index') }}">Mes restaurants</a></li>
                                    {% endif %}  
                                    {% if is_granted('ROLE_LIVREUR') %}
                                        <li><a href="{{ path('livreur') }}">Livraison</a></li>
                                    {% endif %}  
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right main-menu">
                            <ul id="navigation">
                                <li> <a href="#"><span class="flaticon-user"></span></a>
                                    <ul class="submenu">
                                        <li>
                                            {% if app.user %}
                                                <a href="{{ path('informations') }}">Mon profil</a>
                                              <a href="{{path('myorder')}}">Mes commandes</a>
                                                <a href="{{ path('app_logout') }}">Déconnexion</a>
                                            {% else %}
                                                <a href="{{ path('app_login') }}">Connexion</a>
                                                <a href="{{ path('app_register') }}">Inscription </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                           
                                </li>
                                <li><a href="{{ path('panier') }}"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>

         <ul class="navbar-nav align-items-center right-nav-link">
                                             <li class="nav-item dropdown-lg">
                                            {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
                                            </li>
        <!-- Header End -->
    </header>