{% extends 'base.html.twig' %}

{% block title %}Hello InfoUserController!{% endblock %}

{% block body %}

<div class="d-flex flex-column align-items-center">
    <h1>Modifications des informations utilisateurs.</h1>

    {{ form_start(form) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.adress) }}
            {{ form_row(form.city) }}
            {{ form_row(form.relation_zipcode,{'label': 'Code postal','class': 'form-control w-100 mb-2'})}} 
            <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
    {{ form_end(form) }} 
</div>
    
{% endblock %}
