{% extends 'base.html.twig' %}

{% block title %}Hello InfoUserController!{% endblock %}

{% block body %}


<h1>Modifications des informations utilisateurs.</h1>

   {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.adress) }}
        {{ form_row(form.city) }}
        {{ form_row(form.relation_zipcode,{'label': 'Code postale'})}} 
        <button type="submit" class="btn-success">Enregistrer</button>
    {{ form_end(form) }} 
    
{% endblock %}
