{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}


<h1>Profil utilisateur</h1>

{% if app.user %}
{%for infos in info%}
<div class="alert alert-warning" role="alert">
    Nom : {{ infos.lastName}}
</div>
<div class="alert alert-danger" role="alert">
    Prénom : {{ infos.firstName}}
</div>
<div class="alert alert-success" role="alert">
    Adresse  : {{ infos.adress}}
</div>
<div class="alert alert-info" role="alert">
    Ville : {{ infos.city}}
</div>

{# <li>{{ infos.relation_zipcode}}</li> #}
{% endfor %}
{% else %}
<p>Vous n'êtes pas connecté</p>
{% endif %}


{% endblock %}
