{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

<main>
   <!-- Hero Area Start-->
      <div class="slider-area ">
          <div class="single-slider slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap text-center">
                              <h2>Votre livraison</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--================Cart Area =================-->
  {{ form_start(form,{action:path('order_recap')} )}}
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col md-3">
        <h4>Récapitulatif de ma commande</h4>
        {% for cartitem in cart %}
          <div class="card-group">
            <div class="card-order" style="height:6rem; width:6rem;">
             <img class="card-img" src="{{asset('image/'~cartitem.product.picture)}}" alt="" style="height: 100%; width: 100%; display: block;">
          </div>
            <div class="card" style="height:6rem;">
              <p class="card-text">{{cartitem.product.name}}<br>
                prix unitaire : {{cartitem.product.price}} €<br>
                quantité : {{cartitem.quantity}}<br>
                total :{{ cartitem.product.price * cartitem.quantity }} €</p>
            </div>
          </div>
          <br>
        {% endfor %}
        <br>
        <p>Total de votre panier : {{ total }} € </p><br>
        <a href="{{path('panier')}}" class="btn" style="color:black;">modifier ma commande</a>
      </div>
    <div class="col-md-4"></div>
    <div class="row" style="padding-top:5%;">
     <div class="col-md-12">{{ form_row(form.time)}}</div><br>
      <div class="col-md-6">
      <br>

      <h4>Vos coordonnées pour la livraison</h4>

        <div class="row">
         <div class="col-md-12">{{ form_row(form.firstName)}}</div><br>
          <div class="col-md-12">{{ form_row(form.LastName)}}</div><br>
          <div class="col-md-12">{{ form_row(form.number)}}</div><br>
          <div class="col-md-12">{{ form_row(form.adress)}}</div><br>
          <div class="col-md-12">{{ form_row(form.zipcode)}}</div><br>
          <div class="col-md-12">{{ form_row(form.city)}}</div><br>

        </div>
      </div>
         <div class="col-md-6"> <br>

        <p>Total de votre panier :{{ total }} € </p>

        <p>Frais de livraison : {{ shipping }} €</p>
        <p>Total TTC : <span class="totalOrder"></span> € </p>
        {{ form_end(form) }}
        </div>

      </div>
    </div>
  </div>
  </div>

</main>
{% endblock %}